
<footer class="footer m-t-100" style="background: -webkit-linear-gradient(135deg, rgb(111, 150, 101) 47%, hsla(0, 0%, 0%, 1) 89%);">
    <div class="container">
        <!-- Start Footer Top Section -->
        <div class="footer__top">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="index.html" class="footer__logo-link">
                                <img src="~/css/img/logo/seykoop-logo-beyaz.png" alt="" class="footer__logo-img">
                            </a>
                        </div>
                        <ul class="footer__address">
                            <li class="footer__address-item"><i class="fa fa-home"></i>Şirket Bilgileri yazılacak. Konum? Adres? İletişim Bilgileri?</li>

                        </ul>
                        <ul class="footer__social-nav">
                            <li class="footer__social-list"><a href="#" class="footer__social-link"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="footer__social-list"><a href="#" class="footer__social-link"><i class="fab fa-twitter"></i></a></li>
                            <li class="footer__social-list"><a href="#" class="footer__social-link"><i class="fab fa-youtube"></i></a></li>
                            <li class="footer__social-list"><a href="#" class="footer__social-link"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <!-- Start Footer Nav -->
                    <div class="footer__menu">
                        <h4 class="footer__nav-title footer__nav-title--dash footer__nav-title--dash-red">Gerekli bilgiler</h4>
                        <ul class="footer__nav">
                            <li class="footer__list"><a href="" class="footer__link">Satış Bilgileri</a></li>

                        </ul>
                    </div> <!-- End Footer Nav -->
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <div class="footer__menu">
                        <h4 class="footer__nav-title footer__nav-title--dash footer__nav-title--dash-red">Seytim Hakkında</h4>
                        <ul class="footer__nav">
                            <li class="footer__list"><a href="" class="footer__link">Basında Biz</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <div class="footer__menu">
                        <h4 class="footer__nav-title footer__nav-title--dash footer__nav-title--dash-red">Hızlı Erişim</h4>
                        <ul class="footer__nav">
                            <li class="footer__list"><a href="" class="footer__link">Tüm Ürünlerimiz</a></li>

                        </ul>
                    </div>
                </div>
                
            </div>
        </div> <!-- End Footer Top Section -->
        <!-- Start Footer Bottom Section -->
        <div class="footer__bottom">
            <div class="row">
                <div class="col-lg-8 col-md-6 col-12">
                    <!-- Start Footer Copyright Text -->
                    <div class="footer__copyright-text">
                        <p>Copyright 2023 &copy; <strong><a style="color:black;" href="">Seytim </a></strong>| Tüm Hakları Saklıdır.</p>
                    </div> <!-- End Footer Copyright Text -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Footer Payment Logo -->
                    <div class="footer__payment">
                        <a class="footer__payment-link">
                            <img src="~/css/img/company-logo/payment.png" alt="" class="footer__payment-img">
                        </a>
                    </div>  <!-- End Footer Payment Logo -->
                </div>
            </div>
        </div> <!-- End Footer Bottom Section -->
    </div>
    
</footer> <!-- ::::::  End  Footer ::::::  -->
