 <!-- Seytim hakkında açıklama -->
<!-- ::::::  Start Testimonial Section  ::::::  -->
<div class="testimonial m-t-100 pos-relative">
    <div class="testimonial__bg">
        <img src="~/css/img/testimonial/testimonials-bg.jpg" alt="">
    </div>
    <div class="testimonial__content pos-absolute absolute-center text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-content__inner">
                        <h2>Biz Kimiz?</h2>
                    </div>
                    <div class="testimonial__slider default-slider">
                        <div class="testimonial__content--slider ">
                            <div class="testimonial__single">
                                <p class="testimonial__desc">Buraya seytim hakkında Açıklama gelecek.</p>
                                <div class="testimonial__info">
                                    <!-- <img class="testimonial__info--user" src="assets/img/testimonial/testimonial-home-1-img-1.png" alt=""> -->
                                    <h5 class="testimonial__info--desig m-t-20">Seytim Hakkında bilgi gelebilir. </h5>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ::::::  End Testimonial Section  ::::::  -->
<!-- ::::::  Start  Blog News  ::::::  -->