<!-- This is a patial View. Show last 10 Product.  -->

<div class="product m-t-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Start Section Title -->
                <div class="section-content section-content--border m-b-35">
                    <h5 class="section-content__title">Yeni Ürünler</h5>
                    <a href="" class="btn btn--icon-left btn--small btn--radius btn--transparent btn--border-green btn--border-green-hover-green font--regular text-capitalize">Daha Fazla<i class="fal fa-angle-right"></i></a>
                </div>  <!-- End Section Title -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="default-slider default-slider--hover-bg-red product-default-slider">
                    <div class="product-default-slider-4grid-1rows gap__col--30 gap__row--40">

                        <!-- Start Single Default Product -->
                        <div class="product__box product__default--single text-center">
                            <!-- Start Product Image -->
                            <div class="product__img-box  pos-relative">
                                <a href="" class="product__img--link">
                                    <img class="product__img img-fluid" src="~/css/img/product/size-normal/product-home-1-img-1.jpg" alt="">
                                </a>
                                <!-- Start Procuct Label -->
                                <!-- <span class="product__label product__label--sale-dis">-34%</span> -->
                                <!-- End Procuct Label -->
                                <!-- Start Product Action Link-->
                                <ul class="product__action--link pos-absolute">
                                    <li><a href="#modalAddCart" data-bs-toggle="modal"><i class="icon-shopping-cart"></i></a></li>

                                </ul> <!-- End Product Action Link -->
                            </div> <!-- End Product Image -->
                            <!-- Start Product Content -->
                            <div class="product__content m-t-20">

                                <a href="" class="product__link">Ürün Adı</a>
                                <div class="product__price m-t-5">
                                    <span class="product__price">Fiyat</span>
                                </div>
                            </div> <!-- End Product Content -->
                        </div> <!-- End Single Default Product -->
                        <!-- Start Single Default Product -->
                        <div class="product__box product__default--single text-center">
                            <!-- Start Product Image -->
                            <div class="product__img-box  pos-relative">
                                <a href="" class="product__img--link">
                                    <img class="product__img img-fluid" src="~/css/img/product/size-normal/product-home-1-img-2.jpg" alt="">
                                </a>
                                <!-- Start Product Action Link-->
                                <ul class="product__action--link pos-absolute">
                                    <li><a href="#modalAddCart" data-bs-toggle="modal"><i class="icon-shopping-cart"></i></a></li>

                                </ul> <!-- End Product Action Link -->
                            </div> <!-- End Product Image -->
                            <!-- Start Product Content -->
                            <div class="product__content m-t-20">

                                <a href="" class="product__link">Ürün Adı</a>
                                <div class="product__price m-t-5">
                                    <span class="product__price">fiyat</span>
                                </div>
                            </div> <!-- End Product Content -->
                        </div> <!-- End Single Default Product -->
                        <!-- Start Single Default Product -->
                        <div class="product__box product__default--single text-center">
                            <!-- Start Product Image -->
                            <div class="product__img-box  pos-relative">
                                <a href="" class="product__img--link">
                                    <img class="product__img img-fluid" src="~/css/img/product/size-normal/product-home-1-img-3.jpg" alt="">
                                </a>
                                <!-- Start Procuct Label -->
                                <!-- End Procuct Label -->
                                <!-- Start Product Countdown -->
                                <div class="product__counter-box">
                                    <!-- <div class="product__counter-item" data-countdown="2023/09/27"></div> -->
                                </div> <!-- End Product Countdown -->
                                <!-- Start Product Action Link-->
                                <ul class="product__action--link pos-absolute">
                                    <li><a href="#modalAddCart" data-bs-toggle="modal"><i class="icon-shopping-cart"></i></a></li>
                                </ul> <!-- End Product Action Link -->
                            </div> <!-- End Product Image -->
                            <!-- Start Product Content -->
                            <div class="product__content m-t-20">

                                <a href="" class="product__link">Ürün Adı</a>
                                <div class="product__price m-t-5">
                                    <span class="product__price">fiyat <del>indirimli fiyat varsa</del></span>
                                </div>
                            </div> <!-- End Product Content -->
                        </div> <!-- End Single Default Product -->
                        <!-- Start Single Default Product -->
                        <div class="product__box product__default--single text-center">
                            <!-- Start Product Image -->
                            <div class="product__img-box  pos-relative">
                                <a href="" class="product__img--link">
                                    <img class="product__img img-fluid" src="~/css/img/product/size-normal/product-home-1-img-4.jpg" alt="">
                                </a>
                                <!-- Start Product Action Link-->
                                <ul class="product__action--link pos-absolute">
                                    <li><a href="#modalAddCart" data-bs-toggle="modal"><i class="icon-shopping-cart"></i></a></li>

                                </ul> <!-- End Product Action Link -->
                            </div> <!-- End Product Image -->
                            <!-- Start Product Content -->
                            <div class="product__content m-t-20">

                                <a href="" class="product__link">Ürün Adı</a>
                                <div class="product__price m-t-5">
                                    <span class="product__price">fiyat</span>
                                </div>
                            </div> <!-- End Product Content -->
                        </div> <!-- End Single Default Product -->
                        <!-- Start Single Default Product -->
                        <div class="product__box product__default--single text-center">
                            <!-- Start Product Image -->
                            <div class="product__img-box  pos-relative">
                                <a href="" class="product__img--link">
                                    <img class="product__img img-fluid" src="~/css/img/product/size-normal/product-home-1-img-5.jpg" alt="">
                                </a>
                                <!-- Start Procuct Label -->
                                <!-- End Procuct Label -->
                                <!-- Start Product Action Link-->
                                <ul class="product__action--link pos-absolute">
                                    <li><a href="#modalAddCart" data-bs-toggle="modal"><i class="icon-shopping-cart"></i></a></li>
                                </ul> <!-- End Product Action Link -->
                            </div> <!-- End Product Image -->
                            <!-- Start Product Content -->
                            <div class="product__content m-t-20">

                                <a href="" class="product__link">Ürün Adı</a>
                                <div class="product__price m-t-5">
                                    <span class="product__price">fiyat</span>
                                </div>
                            </div> <!-- End Product Content -->
                        </div> <!-- End Single Default Product -->
                        <!-- Start Single Default Product -->
                        <div class="product__box product__default--single text-center">
                            <!-- Start Product Image -->
                            <div class="product__img-box  pos-relative">
                                <a href="" class="product__img--link">
                                    <img class="product__img img-fluid" src="~/css/img/product/size-normal/product-home-1-img-6.jpg" alt="">
                                </a>
                                <!-- Start Procuct Label -->
                                <!-- End Procuct Label -->
                                <!-- Start Product Action Link-->
                                <ul class="product__action--link pos-absolute">
                                    <li><a href="#modalAddCart" data-bs-toggle="modal"><i class="icon-shopping-cart"></i></a></li>

                                </ul> <!-- End Product Action Link -->
                            </div> <!-- End Product Image -->
                            <!-- Start Product Content -->
                            <div class="product__content m-t-20">

                                <a href="" class="product__link">Ürün Adı</a>
                                <div class="product__price m-t-5">
                                    <span class="product__price">fiyat</span>
                                </div>
                            </div> <!-- End Product Content -->
                        </div> <!-- End Single Default Product -->
                        <!-- Start Single Default Product -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalAddCart" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col text-end">
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"> <i class="fal fa-times"></i></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="modal__product-img">
                                        <img class="img-fluid" src="~/css/img/product/size-normal/product-home-1-img-1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="link--green link--icon-left"><i class="fal fa-check-square"></i>Ürün Sepete Eklendi!</div>
                                    <div class="modal__product-cart-buttons m-tb-15">
                                        <a href="" class="btn btn--box  btn--tiny btn--green btn--green-hover-black btn--uppercase">Sepete Git</a>
                                        <a href="" class="btn btn--box  btn--tiny btn--green btn--green-hover-black btn--uppercaset">Alışverişe Devam Et</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 modal__border">
                            <ul class="modal__product-shipping-info">
                                <li class="link--icon-left"><i class="icon-shopping-cart"></i> Sepette x Miktarda Ürün var</li>
                                <li>Sepet Toplam Fiyatı: <span>Fiyat</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Modal Add cart -->