<!--  News or Blogs Partial  -->


<div class="blog m-t-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Start Section Title -->
                <div class="section-content section-content--border m-b-35">
                    <h5 class="section-content__title">Basında biz veya Blog Sayfası içerikleri</h5>
                    <a href="blog-list-sidebar-left.html" class="btn btn--icon-left btn--small btn--radius btn--transparent btn--border-green btn--border-green-hover-green font--regular text-capitalize">Daha Fazla <i class="fal fa-angle-right"></i></a>
                </div>  <!-- End Section Title -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="default-slider default-slider--hover-bg-red">
                    <div class="blog-feed-slider-3grid default-slider gap__col--30 ">
                        <!-- Start Single Blog Feed -->
                        <div class="blog-feed">
                            <!-- Start Blog Feed Image -->
                            <div class="blog-feed__img-box">
                                <a href="blog-single-sidebar-left.html" class="blog-feed__img--link">
                                    <img class="img-fluid" src="~/css/img/blog/feed/blog-feed-home-1-img-1.jpg" alt="">
                                </a>
                            </div> <!-- End  Blog Feed Image -->
                            <!-- Start  Blog Feed Content -->
                            <div class="blog-feed__content ">
                                <a href="blog-single-sidebar-left.html" class="blog-feed__link">Haber & Blog Adı</a>

                                <div class="blog-feed__post-meta">

                                    <a class="blog-feed__post-meta--link" href="blog-grid-sidebar-left.html"><span class="blog-feed__post-meta--author">Yazar Adı</span></a>
                                    <a class="blog-feed__post-meta--link" href="blog-grid-sidebar-left.html"><span class="blog-feed__post-meta--date">Tarih</span></a>

                                </div>
                                <p class="blog-feed__excerpt">Kısa açıklama...</p>
                                <a href="blog-single-sidebar-left.html" class="btn btn--small btn--radius btn--green btn--green-hover-black font--regular text-uppercase text-capitalize">Okumaya Devam Et</a>
                            </div> <!-- End  Blog Feed Content -->
                        </div> <!-- End Single Blog Feed -->
                        <!-- Start Single Blog Feed -->
                        <div class="blog-feed">
                            <!-- Start Blog Feed Image -->
                            <div class="blog-feed__img-box">
                                <a href="blog-single-sidebar-left.html" class="blog-feed__img--link">
                                    <img class="img-fluid" src="~/css/img/blog/feed/blog-feed-home-1-img-1.jpg" alt="">
                                </a>
                            </div> <!-- End  Blog Feed Image -->
                            <!-- Start  Blog Feed Content -->
                            <div class="blog-feed__content ">
                                <a href="blog-single-sidebar-left.html" class="blog-feed__link">Haber & Blog Adı</a>

                                <div class="blog-feed__post-meta">

                                    <a class="blog-feed__post-meta--link" href="blog-grid-sidebar-left.html"><span class="blog-feed__post-meta--author">Yazar Adı</span></a>
                                    <a class="blog-feed__post-meta--link" href="blog-grid-sidebar-left.html"><span class="blog-feed__post-meta--date">Tarih</span></a>

                                </div>
                                <p class="blog-feed__excerpt">Kısa açıklama...</p>
                                <a href="blog-single-sidebar-left.html" class="btn btn--small btn--radius btn--green btn--green-hover-black font--regular text-uppercase text-capitalize">Okumaya Devam Et</a>
                            </div> <!-- End  Blog Feed Content -->
                        </div> <!-- End Single Blog Feed -->
                        <!-- Start Single Blog Feed -->
                        <div class="blog-feed">
                            <!-- Start Blog Feed Image -->
                            <div class="blog-feed__img-box">
                                <a href="blog-single-sidebar-left.html" class="blog-feed__img--link">
                                    <img class="img-fluid" src="~/css/img/blog/feed/blog-feed-home-1-img-1.jpg" alt="">
                                </a>
                            </div> <!-- End  Blog Feed Image -->
                            <!-- Start  Blog Feed Content -->
                            <div class="blog-feed__content ">
                                <a href="blog-single-sidebar-left.html" class="blog-feed__link">Haber & Blog Adı</a>

                                <div class="blog-feed__post-meta">

                                    <a class="blog-feed__post-meta--link" href="blog-grid-sidebar-left.html"><span class="blog-feed__post-meta--author">Yazar Adı</span></a>
                                    <a class="blog-feed__post-meta--link" href="blog-grid-sidebar-left.html"><span class="blog-feed__post-meta--date">Tarih</span></a>

                                </div>
                                <p class="blog-feed__excerpt">Kısa açıklama...</p>
                                <a href="blog-single-sidebar-left.html" class="btn btn--small btn--radius btn--green btn--green-hover-black font--regular text-uppercase text-capitalize">Okumaya Devam Et</a>
                            </div> <!-- End  Blog Feed Content -->
                        </div> <!-- End Single Blog Feed -->
                        <!-- Start Single Blog Feed -->
                        <div class="blog-feed">
                            <!-- Start Blog Feed Image -->
                            <div class="blog-feed__img-box">
                                <a href="blog-single-sidebar-left.html" class="blog-feed__img--link">
                                    <img class="img-fluid" src="~/css/img/blog/feed/blog-feed-home-1-img-1.jpg" alt="">
                                </a>
                            </div> <!-- End  Blog Feed Image -->
                            <!-- Start  Blog Feed Content -->
                            <div class="blog-feed__content ">
                                <a href="blog-single-sidebar-left.html" class="blog-feed__link">Haber & Blog Adı</a>

                                <div class="blog-feed__post-meta">

                                    <a class="blog-feed__post-meta--link" href="blog-grid-sidebar-left.html"><span class="blog-feed__post-meta--author">Yazar Adı</span></a>
                                    <a class="blog-feed__post-meta--link" href="blog-grid-sidebar-left.html"><span class="blog-feed__post-meta--date">Tarih</span></a>

                                </div>
                                <p class="blog-feed__excerpt">Kısa açıklama...</p>
                                <a href="blog-single-sidebar-left.html" class="btn btn--small btn--radius btn--green btn--green-hover-black font--regular text-uppercase text-capitalize">Okumaya Devam Et</a>
                            </div> <!-- End  Blog Feed Content -->
                        </div> <!-- End Single Blog Feed -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ::::::  End  Blog News   ::::::  -->